.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main
{
  justify-content: center;
}

.mBox{
  box-shadow: 8px 8px 16px rgba(0,0,0,0.25),
  inset -8px -8px 16px 0 rgba(0,0,0,0.25),
  inset 8px 8px 16px 0 rgba(255,255,255,0.2);
}

.clock{
  box-shadow: 8px 8px 16px rgba(0,0,0,0.25),
  inset -8px -8px 16px 0 rgba(0,0,0,0.25),
  inset 8px 8px 16px 0 rgba(255,255,255,0.2);
}

.clock::before
{
  position: absolute;
  content: '';
  width : 15px;
  height: 15px;
  border-radius: 50%;
  background: #848484;
  border: 2px solid #ffffff;
  z-index: 1000;
  box-shadow: 0.5px 0.5px 1px 0 rgba(0,0,0,0.25),
  inset -0.5px -0.5px 1px 0 rgba(0,0,0,0.25),
  inset 0.5px 0.5px 1px 0 rgba(255,255,255,0.2);
}

.indicators{
  width: 100%;
  height: 100%;
  
}

.indicators div{
  position: absolute;
  width: 6px;
  height: 15px;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0.5px 0.5px 1px 0 rgba(0,0,0,0.25),
  inset -0.5px -0.5px 1px 0 rgba(0,0,0,0.25),
  inset 0.5px 0.5px 1px 0 rgba(255,255,255,0.2);
}

.indicators div:nth-child(1){
  transform: rotate(30deg) translateY(-150px);
}

.indicators div:nth-child(2){
  transform: rotate(60deg) translateY(-150px);
}

.indicators div:nth-child(3){
  transform: rotate(90deg) translateY(-150px);
}

.indicators div:nth-child(4){
  transform: rotate(120deg) translateY(-150px);
}
.indicators div:nth-child(5){
  transform: rotate(150deg) translateY(-150px);
}

.indicators div:nth-child(6){
  transform: rotate(180deg) translateY(-150px);
}

.indicators div:nth-child(7){
  transform: rotate(210deg) translateY(-150px);
}

.indicators div:nth-child(8){
  transform: rotate(240deg) translateY(-150px);
}
.indicators div:nth-child(9){
  transform: rotate(270deg) translateY(-150px);
}

.indicators div:nth-child(10){
  transform: rotate(300deg) translateY(-150px);
}

.indicators div:nth-child(11){
  transform: rotate(330deg) translateY(-150px);
}

.indicators div:nth-child(12){
  transform: rotate(3600deg) translateY(-150px);
}


.hr::before
{
  position: absolute;
  content: '';
  width: 8px;
  height: 80px;
  background: #24315e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
  box-shadow: 0.5px 0.5px 1px 0 rgba(0,0,0,0.25),
  inset -0.5px -0.5px 1px 0 rgba(0,0,0,0.25),
  inset 0.5px 0.5px 1px 0 rgba(255,255,255,0.2);
}

.mn::before
{
  position: absolute;
  content: '';
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
  box-shadow: 0.5px 0.5px 1px 0 rgba(0,0,0,0.25),
  inset -0.5px -0.5px 1px 0 rgba(0,0,0,0.25),
  inset 0.5px 0.5px 1px 0 rgba(255,255,255,0.2);
}

.sc::before
{
  position: absolute;
  content: '';
  width: 2px;
  height: 150px;
  background: #e7e9e8;
  z-index: 12;
  border-radius: 6px 6px 0 0;
  box-shadow: 0.5px 0.5px 1px 0 rgba(0,0,0,0.25),
  inset -0.5px -0.5px 1px 0 rgba(0,0,0,0.25),
  inset 0.5px 0.5px 1px 0 rgba(255,255,255,0.2);
}

.hr,.mn,.sc{
  border-radius: 50%;
}

/* for authentication page */
.frame{
  height: 100vh;
}